.container{
    background-color: #171e24;
    width: 30%;
    border-radius: 5px;

}
.container>*{
    color: #e3eaf0;
    padding: 5px;
}
.locBtn{
    border: none;
    background: none;
    cursor: pointer;
    
}
.locIcon{
    width: 40px;
    height: 40px;
    position: absolute;

}
.locItems{
    display: flex;
    justify-content: space-between;
}