.searchModel{
    color: red;
}
.searchBar{
    width: 3px;
    height: 30%;
    padding: 10px;
    border-radius: 50px;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.623);
    border-color: white;
    
}
.parent{
    margin-top: 3%;
    margin-right: 4%;
}