.nav{
    background-color: #151a20;
    transform: translateY(20%);
    height: 70px;
}

.navItems{
    display: flex;
    justify-content: flex-end;
    gap: 3%;
    align-items: center;
}
.notificationIcon{
    width: 60%;
    height: 70%;
}
.navSections{
    display:  flex;
    justify-content:flex-end;
    align-items: center;
    gap: 5%;
    padding: 10px;
    height: 100;
}
.navSectionsContainer{
    width: 70%;
}
.navSections>*{
    color: #e3eaf0;
    list-style: none;
    text-decoration: none;
    
}